fortune-mod/cmake/Shlomif_Common.cmake
fortune-mod/datfiles/*.dat
fortune-mod/datfiles/*.u8
fortune-mod/datfiles/cookies-stamp
fortune-mod/datfiles/off/ocookies-stamp
fortune-mod/datfiles/off/rotated-stamp
fortune-mod/datfiles/off/rotated/*.dat
fortune-mod/datfiles/off/rotated/*.u8
fortune-mod/datfiles/off/rotated/art
fortune-mod/datfiles/off/rotated/astrology
fortune-mod/datfiles/off/rotated/atheism
fortune-mod/datfiles/off/rotated/black-humor
fortune-mod/datfiles/off/rotated/cookie
fortune-mod/datfiles/off/rotated/debian
fortune-mod/datfiles/off/rotated/definitions
fortune-mod/datfiles/off/rotated/drugs
fortune-mod/datfiles/off/rotated/ethnic
fortune-mod/datfiles/off/rotated/fortunes
fortune-mod/datfiles/off/rotated/hphobia
fortune-mod/datfiles/off/rotated/limerick
fortune-mod/datfiles/off/rotated/linux
fortune-mod/datfiles/off/rotated/misandry
fortune-mod/datfiles/off/rotated/miscellaneous
fortune-mod/datfiles/off/rotated/misogyny
fortune-mod/datfiles/off/rotated/politics
fortune-mod/datfiles/off/rotated/privates
fortune-mod/datfiles/off/rotated/racism
fortune-mod/datfiles/off/rotated/religion
fortune-mod/datfiles/off/rotated/riddles
fortune-mod/datfiles/off/rotated/sex
fortune-mod/datfiles/off/rotated/songs-poems
fortune-mod/datfiles/off/rotated/vulgarity
fortune-mod/datfiles/off/rotated/zippy
fortune-mod/datfiles/off/unrotated/*.dat
fortune-mod/datfiles/off/unrotated/*.u8
fortune-mod/fortune/fortune
fortune-mod/fortune/fortune.o
fortune-mod/util/rot
fortune-mod/util/rot.o
fortune-mod/util/strfile
fortune-mod/util/strfile.o
fortune-mod/util/unstr
fortune-mod/util/unstr.o
