addons:
    apt:
        packages:
            - cmake
            - cpanminus
            - gcc
            - libperl-dev
            - librecode-dev
            - perl
            - make
            - valgrind
            - xz-utils
            - zip
before_install:
    - cpanm local::lib
    - eval "$(perl -Mlocal::lib=$HOME/perl_modules)"
    - cpanm Code::TidyAll::Plugin::ClangFormat Code::TidyAll::Plugin::Flake8 Code::TidyAll::Plugin::TestCount File::Find::Object List::Util Path::Tiny Perl::Critic Perl::Tidy Test::Code::TidyAll Test::Differences Test::RunValgrind Test::Trap
cache:
    directories:
        - $HOME/perl_modules
        - $HOME/tidyall_d
dist: bionic
install:
    # Required to avoid default travis "cpanm ." booboo.
    - true
language: perl
os: linux
perl:
    - "5.30"
script:
    - "export FORTUNE_TEST_TIDY=1"
    - "perl CI-testing/continuous-integration-testing.pl"
    - "rm -fr B"
