jobs:
    test-fc-solve:
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v2
            with:
                submodules: 'true'
        -   run: sudo apt-get update -qq
        -   run: sudo apt-get --no-install-recommends install -y eatmydata
        -   run: sudo eatmydata apt-get --no-install-recommends install -y asciidoc
                cmake cpanminus dbtoepub docbook-xsl docbook-xsl-ns gcc libperl-dev
                librecode-dev make perl valgrind xsltproc xz-utils zip
        -   run: local_lib_shim() { eval "$(perl -Mlocal::lib=$HOME/perl_modules)";
                } ; local_lib_shim ; cpanm local::lib
        -   run: local_lib_shim() { eval "$(perl -Mlocal::lib=$HOME/perl_modules)";
                } ; local_lib_shim ; eval "$(perl -Mlocal::lib=$HOME/perl_modules)"
        -   run: local_lib_shim() { eval "$(perl -Mlocal::lib=$HOME/perl_modules)";
                } ; local_lib_shim ; cpanm App::Docmake Code::TidyAll::Plugin::ClangFormat
                Code::TidyAll::Plugin::Flake8 Code::TidyAll::Plugin::TestCount File::Find::Object
                List::Util Path::Tiny Perl::Critic Perl::Tidy Test::Code::TidyAll
                Test::Differences Test::RunValgrind Test::TrailingSpace Test::Trap
        -   run: local_lib_shim() { eval "$(perl -Mlocal::lib=$HOME/perl_modules)";
                } ; local_lib_shim ; true
        -   run: local_lib_shim() { eval "$(perl -Mlocal::lib=$HOME/perl_modules)";
                } ; local_lib_shim ; perl -ln -i -E 'print unless /^\[ClangFormat\]$/../^$/'
                fortune-mod/.tidyallrc
        -   run: local_lib_shim() { eval "$(perl -Mlocal::lib=$HOME/perl_modules)";
                } ; local_lib_shim ; export FORTUNE_TEST_TIDY=1
        -   run: local_lib_shim() { eval "$(perl -Mlocal::lib=$HOME/perl_modules)";
                } ; local_lib_shim ; perl CI-testing/continuous-integration-testing.pl
        -   run: local_lib_shim() { eval "$(perl -Mlocal::lib=$HOME/perl_modules)";
                } ; local_lib_shim ; rm -fr B
name: use-github-actions
'on':
- push
